modules = ["web", "nodejs-20"]
[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44635
externalPort = 3000

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["python", "-m", "http.server", "5000"]
